<div>
    <nav>
        <h3 style="margin-left: 5px; ">
            CAREERS
        </h3>
        
    </nav>
</div>
<h2 style="margin-left: 10%;">Update Profile</h2>
<form action="" style="margin-left: 10%; margin-right: 10%;">
    <div >
        <nav class="one">
            <ul >
                <li><a href="">General</a></li>
                <li><a href="">Education</a></li>
                <li><a href="">SkillSet</a></li>
                <li><a href="">Professionals</a></li>
            </ul>
           
            
        </nav>
    </div>
    <h4>Basic Informations</h4>
    <div class="form-container">
        <div class="form-group">
            <label for="firstName">First Name</label>
            <input type="text" id="firstName">
        </div>
        <div class="form-group">
            <label for="lastName">Last Name</label>
            <input type="text" id="lastName"> 
        </div>
        <div class="form-group">
            <label for="dob">DOB</label>
            <input type="date" id="dob"> 
        </div>
        <div class="form-group">
            <label>Gender</label>
            <div class="gender-options">
                <input type="radio" name="gender" id="male" value="male"><label for="male">Male</label>
                <input type="radio" name="gender" id="female" value="female"><label for="female">Female</label>
                <input type="radio" name="gender" id="other" value="other"><label for="other">Other</label>
            </div>
        </div>
        <div class="form-group">
            <label for="position">Position For Applied</label>
            <select id="position">
                <option value="">--Select a Position--</option>
                <option value="angular">Angular Developer</option>
                <option value="java">Java Developer</option>
                <option value="fullstack">FullStack Developer</option>
            </select>
        </div>
        <div class="form-group">
            <label for="reference">Employee Reference</label>
            <input type="text" id="reference" placeholder="Employee Reference">
        </div>
    </div>
    <hr style="margin-top: 30px;">
    <!-- Contact -->

    <h4>Contact</h4>
    <div class="form-container1">
        <div class="form-group1">
            <label for="mobileNumber">Mobile Number</label><br>
            <input type="text" id="mobileNumber" >
            </div>
            <div class="form-group1">
                <label for="homeNumber">Home Number</label><br>
            <input type="text" id="homeNumber">
            </div>
            <div class="form-group1">
                <label for="officeNumber">Office Number</label><br>
                <input type="text" id="officeNumber">
            </div>
           
        </div>
    
      <hr style="margin-top: 30px;">
      <div class="form-container">
    <div style="margin-top: 30px;" class="form-group">
        <label for="">Personal Email ID</label>
        <input type="email" style="height:50px;">
    </div>
  
    <div class="form-group" style="margin-top: 30px">
        <label for="">Locality</label>
        <input type="text">
    </div>
    <div class="form-group">
        <label for="">Present Address</label>
        <textarea name="" id=""></textarea>
    </div>
   
    <div class="form-group">
        <label for="">PIN Code</label>
        <input type="text">
    </div>
    <div class="form-group">
        <label for="">City</label>
        <input type="text">
    </div>
    <div class="form-group">
        <label for="">District</label>
        <input type="text">
    </div>
    <div class="form-group">
        <label for="">State</label>
        <input type="text">
    </div>
    <div class="form-group">
        <label for="">Country</label>
        <input type="text">
    </div>
   
</div>
    <h4>Family Details</h4>

</form>

